aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
argcomplete==2.0.0
attrs==24.3.0
Babel==2.10.3
beautifulsoup4==4.12.3
blinker==1.9.0
certifi==2024.12.14
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
commonmark==0.9.1
evillimiter==1.5.0
filelock==3.17.0
Flask==3.1.0
frozenlist==1.5.0
ghauri==1.4.2
ghp-import==2.1.0
gitdb==4.0.12
GitPython==3.1.44
google==3.0.0
googlesearch-python==1.3.0
h11==0.14.0
idna==3.10
iniconfig==1.1.1
itsdangerous==2.2.0
Jinja2==3.1.5
joblib==1.2.0
livereload==2.6.3
lunr==0.6.2
Markdown==3.4.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
mergedeep==1.3.4
mkdocs==1.4.2
more-itertools==8.10.0
multidict==6.1.0
nltk==3.8
numpy==1.24.2
outcome==1.3.0.post0
packaging==24.2
paramspider @ file:///home/wrjunior/tool/ParamSpider
pipx==1.1.0
pluggy==1.0.0+repack
prompt_toolkit==3.0.48
propcache==0.2.1
psutil==5.9.4
py==1.11.0
pyaes==1.6.1
pyasn1==0.6.1
Pygments==2.19.1
pyinotify==0.9.6
Pyrogram @ https://github.com/Dineshkarthik/pyrogram/archive/refs/heads/master.zip#sha256=722a4be0edc5002dcd05b462f333c860a790b67a1f62466b322377acd3985f77
PySocks==1.7.1
pytest==7.2.1
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2022.7.1
PyYAML==6.0
pyyaml_env_tag==0.1
rarfile==4.2
regex==2022.10.31
requests==2.32.3
requests-file==2.1.0
rich==12.5.1
rsa==4.9.1
scapy==2.6.1
selenium==4.27.1
simplejson==3.18.3
six==1.16.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
Telethon==1.40.0
termcolor==3.0.1
terminaltables==3.1.10
TgCrypto==1.2.3
tldextract==5.1.3
tornado==6.2
tqdm==4.67.1
trio==0.28.0
trio-websocket==0.11.1
typing_extensions==4.12.2
ua-generator==2.0.3
urllib3==2.3.0
uro==1.0.1
userpath==1.8.0
watchdog==2.2.1
wcwidth==0.2.13
webdriver-manager==4.0.2
websocket-client==1.8.0
Werkzeug==3.1.3
wsproto==1.2.0
yarl==1.18.3
